 @import "../frontend/vendor/bootstrap/css/bootstrap.css";
 @import "../frontend/fonts/font-awesome-4.7.0/css/font-awesome.min.css";
 @import "../frontend/fonts/iconic/css/material-design-iconic-font.css";
 @import "../frontend/fonts/linearicons-v1.0.0/icon-font.min.css";
 @import "../frontend/vendor/animate/animate.css";
 @import "../frontend/vendor/css-hamburgers/hamburgers.css";
 @import "../frontend/vendor/animsition/css/animsition.css";
 @import "../frontend/vendor/slick/slick.css";
 @import "../frontend/vendor/perfect-scrollbar/perfect-scrollbar.css";
 @import "../frontend/vendor/MagnificPopup/magnific-popup.css";
 @import "../frontend/css/util.css";
 @import "../frontend/css/main.css";
 .dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 }

 .main-menu li,
 .dropdown li {
  position: relative;
 }

 .main-menu li:hover .dropdown,
 .dropdown li:hover .dropdown-subcontent {

  display: block;
 }

 .dropdown,
 .dropdown-subcontent {
  min-width: 160px;

  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

 }

 .dropdown li a:hover,
 .dropdown-subcontent li a:hover {
  background-color: #f1f1f1

 }

 .dropdown {
  position: absolute;
  top: 100%;
  display: none;
 }

 .dropdown-subcontent {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
 }

 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
 }

 .dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
 }

 .dropdown-content a:hover {
 }

 .dropdown:hover .dropdown-content {
  display: block;
 }

 .dropdown:hover .dropbtn {
  background-color: #dddddd;
 }








